@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #383e45;
  font-size: 0.9rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.site-title {
  width: 120px;
  line-height: 1px;
  padding: 10px 0;
  a {
    display: block;
  }
}

.section-title {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
}
.content-title {
  font-size: 1rem;
  margin: 10px 0;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  .header-nav-list {
    display: flex;
    padding: 10px 0;
    li {
      margin-left: 30px;
      a {
        color: #24292e;
        &:hover {
          opacity: 0.7;
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

// Mixinを使うことで、ブレイクポイントを変数で管理し、
// メディアクエリのスタイルを再利用可能なmixinにまとめて再利用性、保守性高める

// ブレイクポイントの変数定義
$breakpoint-mobile: 600px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// メディアクエリのmixin定義
@mixin respond-to($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

// メインビジュアルのスタイル定義
#mainvisual {
  margin-bottom: 80px;

  img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;

    // モバイル向けのスタイル
    @include respond-to($breakpoint-mobile) {
      height: calc(100vh - 60px);
      // スマホ画面の縦幅高さに対してヘッダーの高さの分（60px）だけ画面下にはみだしてしまわないように調整
    }
  }
}

.content-about {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}
#about .text {
  text-align: left;
}

@media screen and (max-width: 600px) {
  .content-about {
    flex-direction: column;
  }
  #about img {
    margin-right: 0;
  }
}

.bicycle-list {
  display: flex;
  justify-content: space-between;
  li {
    width: 32%;
  }
}

@media screen and (max-width: 600px) {
  .bicycle-list {
    flex-direction: column;
    li {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

#footer {
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
}
